.root {
  position: relative;
  z-index: 0;
  width: rem(200px);
  font-weight: 500;
  color: var(--mantine-color-gray-0);
  background: linear-gradient(
    110deg,
    var(--mantine-color-blue-7) 10%,
    var(--mantine-color-blue-5) 100%
  );
  background-color: var(--mantine-color-blue-7);
  background-repeat: no-repeat;
  border-radius: rem(100px);
  font-size: var(--mantine-font-size-md);
  padding: rem(12px) rem(24px);
  min-height: rem(44px);
}

.root::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    110deg,
    var(--mantine-color-blue-7) 10%,
    var(--mantine-color-blue-5) 70%
  );
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.root:hover::after {
  opacity: 1;
}

.root:disabled {
  background: rgba(100, 100, 100, 0.1);

  color: var(--mantine-color-gray-0);
  cursor: not-allowed;
}

.root:disabled::after {
  display: none;
}

.root[data-variant='secondary'] {
  background: transparent;
  border: rem(1px) solid var(--mantine-color-blue-7);
  transition: border-color 150ms ease-in;
}

.root[data-variant='secondary']:hover {
  border: rem(1px) solid var(--mantine-color-blue-6);
}

.root[data-variant='secondary']:hover::after {
  display: none;
}

.root[data-variant='secondary']:disabled {
  background: rgba(100, 100, 100, 0.1);
  border: none;

  color: var(--mantine-color-gray-0);
  cursor: not-allowed;
}

.root[data-variant='inset'] {
  width: fit-content;
  min-width: rem(111px);
  background: rgba(8, 8, 8, 1);
  height: rem(44px);
  min-height: rem(44px);
  border: none;
  transition: background 150ms ease-in;
}

.root[data-variant='inset']::after {
  background: rgba(14, 15, 15, 1);
}

.root[data-variant='inset']:hover {
  background: rgba(12, 12, 12, 1);
}

.root[data-variant='inset']:hover::after {
  display: none;
}

.root[data-variant='inset']:disabled {
  background: rgba(100, 100, 100, 0.1);
  border: none;

  color: var(--mantine-color-gray-0);
  cursor: not-allowed;
}

.root[data-variant='panel'] {
  width: fit-content;
  padding: rem(8px) rem(18px);
  color: var(--mantine-color-gray-2);
  /* min-width: rem(px); */
  background: var(--glass-pane);
  height: rem(44px);
  min-height: rem(44px);
  border: none;
  transition: background 150ms ease-in;
}

.root[data-variant='panel']:hover {
  background: var(--glass-thick);
}

.root[data-variant='panel']:hover::after {
  display: none;
}

.root[data-variant='panel']:disabled {
  background: rgba(100, 100, 100, 0.1);
  border: none;

  color: var(--mantine-color-gray-0);
  cursor: not-allowed;
}

.root[data-variant='danger'] {
  background: transparent;
  border: rem(1px) solid var(--mantine-color-red-7);
  transition: border-color 150ms ease-in;
}

.root[data-variant='danger']:hover {
  border: rem(1px) solid var(--mantine-color-red-6);
}

.root[data-variant='danger']:hover::after {
  display: none;
}

.root[data-variant='danger']:disabled {
  background: rgba(100, 100, 100, 0.1);
  border: none;

  color: var(--mantine-color-gray-0);
  cursor: not-allowed;
}

.root[data-size='lg'] {
  width: rem(295px);
  min-height: rem(52px);
  font-size: var(--mantine-font-size-lg);
}

.root[data-size='sm'] {
  width: rem(150px);
  min-height: rem(34px);
  font-size: var(--mantine-font-size-sm);
  padding: rem(8px) rem(16px);
}

.root[data-size='xs'] {
  width: rem(107px);
  min-height: rem(24px);
  font-size: var(--mantine-font-size-xs);
  padding: rem(6px) rem(12px);
}

.actionIcon {
  color: var(--mantine-color-gray-0);
  background: var(--glass-pane);
  border: rem(1px) solid var(--glass-pane);
  height: fit-content;
  width: fit-content;
  padding: rem(6px) rem(6px);
  border-radius: rem(12px);
  &:hover {
    background: var(--glass-thick);
  }
}
