.root {
  position: relative;
  z-index: 0;
  width: rem(200px);
  font-weight: 500;
  color: var(--mantine-color-gray-0);
  background: linear-gradient(
    110deg,
    var(--mantine-color-blue-7) 10%,
    var(--mantine-color-blue-5) 100%
  );
  background-color: var(--mantine-color-blue-7);
  background-repeat: no-repeat;
  border-radius: rem(100px);
  font-size: var(--mantine-font-size-md);
  padding: rem(12px) rem(24px);
  min-height: rem(44px);
}

.root::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    110deg,
    var(--mantine-color-blue-7) 10%,
    var(--mantine-color-blue-5) 70%
  );
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.root:hover::after {
  opacity: 1;
}

.root:disabled {
}

.root[data-variant='secondary'] {
}

.root[data-variant='secondary']:hover {
}
.root[data-size='lg'] {
  width: rem(295px);
  min-height: rem(52px);
  font-size: var(--mantine-font-size-lg);
}

.root[data-size='sm'] {
  width: rem(150px);
  min-height: rem(34px);
  font-size: var(--mantine-font-size-sm);
  padding: rem(8px) rem(16px);
}

.root[data-size='xs'] {
  width: rem(107px);
  min-height: rem(24px);
  font-size: var(--mantine-font-size-xs);
  padding: rem(6px) rem(12px);
}
