.baseInput {
  background-color: rgba(242, 242, 242, 0.04);
  border-radius: 12px;

  border: none;
  font-size: var(--mantine-font-size-md);
  padding-inline: 16px;
  background: transparent;
  color: var(--mantine-color-gray-0);
  border-radius: 18px;
  max-width: rem(299px);
  height: 52px;
}

.baseInput::active {
  background-color: transparent !important;
}

.wrapper {
  position: relative;
  margin-top: rem(8px);
  max-width: rem(299px);
  border-radius: 18px;
  transition: 0.15s ease all;
  background-color: rgba(242, 242, 242, 0.04);
  overflow: hidden;
}

.wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(
    120deg,
    rgba(0, 82, 153, 0.15) 10%,
    rgba(0, 171, 255, 0.15) 110%
  );
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.wrapper[data-error]::after {
  background: rgba(244, 87, 68, 0.1) !important;
  opacity: 1 !important;
}

.wrapper:focus-within::after {
  opacity: 1;
}

.section {
  /* padding: 0 !important;
  margin: 0 !important; */
  width: auto;
}

.baseInput:hover {
}

.baseInput::placeholder {
  color: var(--mantine-color-gray-6);
}

.baseInput[data-error] {
  border-color: var(--mantine-color-red-6);
}

.label {
  font-size: var(--mantine-font-size-lg);
  font-weight: 400;
  color: var(--mantine-color-gray-3);
  margin-bottom: 0;
}

.description {
  color: var(--mantine-color-gray-3);
  font-size: var(--mantine-font-size-sm);
  margin-top: 2px;
}

.withSection {
  padding-inline: unset;
}

.errorText {
  color: var(--mantine-color-red-6);
  font-size: var(--mantine-font-size-sm);
  margin-top: 4px;
}

.textarea {
  padding: 16px;
  width: 100%;
  rows: 4;
  height: auto;
}

.numberInputRoot {
  width: 100%;
}

.numberInput {
  height: 52px;
  /* text-align: right;
  padding-block: 16px;
  padding-inline-start: 16px; */
}

.numberInputSection {
  width: fit-content;
  padding: 0 16px;
}

.select {
  width: 100%;
}

.selectInput {
  height: 52px;
}

.selectSection {
  margin: 0 8px;

  svg {
    color: var(--mantine-color-gray-1);
    height: 24px;
    width: 24px;
  }
}

.selectDropdown {
  background-color: var(--mantine-color-gray-8);
  border: none;
  border-radius: 12px;
  padding: 16px;
}

.selectOption {
  font-size: var(--mantine-font-size-md);
  height: 40px;
  margin-bottom: 4px;
  width: 95%;
  color: var(--mantine-color-gray-3);
  &:hover {
    background-color: var(--mantine-color-gray-8);
    color: var(--mantine-color-gray-0);
  }
}

.selectOption[data-checked] {
  color: var(--mantine-color-gray-0);
  svg {
    color: var(--mantine-color-gray-0);
    opacity: 1;
  }
}
