.appBackground {
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  width: 100%;
  background: radial-gradient(
      circle at 50% -18%,
      rgba(0, 80, 120, 1),
      transparent 32%
    ),
    radial-gradient(circle at 140% 75%, rgba(0, 80, 120, 0.3), transparent 40%),
    radial-gradient(circle at -10% 110%, rgba(0, 80, 120, 0.3), transparent 30%),
    #0a0a0a;
  background-attachment: fixed;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
  background-size: cover;
  overflow: hidden;
  border-radius: 0;
}

.scrollArea {
  height: 100vh;
}

.contentBox {
  padding: rem(12px) rem(32px);
  height: 100%;
}
