.root {
  background-color: rgba(242, 242, 242, 0.028);
  border: 1px solid rgba(255, 255, 255, 0.032);
  border-radius: rem(18px);
}

.indicator {
  background-color: rgba(242, 242, 242, 0.028);
  border: 1px solid rgba(255, 255, 255, 0.032);
  border-radius: rem(18px);
  padding-bottom: 2px;
}

.label {
  font-size: var(--mantine-font-size-sm);
  /* padding: 5px; */
}
