.root {
  background-color: var(--glass-pane);
  border: 1px solid var(--glass-edge);
  border-radius: rem(18px);
  backdrop-filter: var(--glass-blur);
}

.indicator {
  /* margin: rem(4px); */
  background-color: var(--glass-thick);
  border: 1px solid var(--glass-edge);
  border-radius: rem(24px);
}

.label {
  padding: rem(7px);
  font-size: var(--mantine-font-size-sm);
}
