.root {
  background-color: rgba(242, 242, 242, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.032);
  border-radius: rem(18px);
  backdrop-filter: blur(18px);
  padding: rem(4px);
}

.indicator {
  background-color: rgba(242, 242, 242, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.06);
  border-radius: rem(24px);
  padding: rem(7px);
}

.label {
  font-size: var(--mantine-font-size-sm);
}
